---
layout: page
# The Posts page layout
---

<div id="post-list">

{% assign pinned_posts = site.posts | where: "pin", true %}
{% assign regular_posts = site.posts | where_exp: "item", "item.pin != true" %}

{% for post in pinned_posts %}
  <div class="post-preview">
    <h1>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>

    <div class="post-content">
      <p>{{ post.content | markdownify | strip_html | truncate: 200 }}</p>
    </div>

    <div class="post-meta">
      <div>
        <i class="far fa-calendar"></i>
        {{ post.date | date: "%Y-%m-%d" }}
        
        <i class="far fa-clock"></i>
        {% capture words %}{{ post.content | number_of_words }}{% endcapture %}
        {% if words contains '-' %}
          1 min read
        {% else %}
          {{ words | plus: 250 | divided_by: 250 | append: ' min read' }}
        {% endif %}
      </div>

      <div class="pin">
        <i class="fas fa-thumbtack"></i>
        <span>Pinned</span>
      </div>
    </div>
  </div>
{% endfor %}

{% for post in regular_posts %}
  <div class="post-preview">
    <h1>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>

    <div class="post-content">
      <p>{{ post.content | markdownify | strip_html | truncate: 200 }}</p>
    </div>

    <div class="post-meta">
      <div>
        <i class="far fa-calendar"></i>
        {{ post.date | date: "%Y-%m-%d" }}
        
        <i class="far fa-clock"></i>
        {% capture words %}{{ post.content | number_of_words }}{% endcapture %}
        {% if words contains '-' %}
          1 min read
        {% else %}
          {{ words | plus: 250 | divided_by: 250 | append: ' min read' }}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}

</div> <!-- #post-list -->